---
import { Image } from "astro:assets";
import MinimalLayout from "../layouts/MinimalLayout.astro";
import image from "../assets/404.png";
---

<MinimalLayout title="Erreur 404">
  <section>
    <div class="mx-auto">
      <div class="mx-auto max-w-screen-sm text-center">
        <Image class="mx-auto" src={image} alt="404" />
        <p
          class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white"
        >
          Oups, il semble qu'on ait perdu cette page !
        </p>
        <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">
          On dirait qu’on a oublié de commit cette page ! Pas de panique, même
          les meilleurs CTO se retrouvent parfois avec un bug inattendu.
        </p>
        <a
          href="/"
          class="inline-flex text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900 my-4"
          >Retourner à l'accueil</a
        >
      </div>
    </div>
  </section>
</MinimalLayout>
