---
import MinimalLayout from "../layouts/MinimalLayout.astro";
---

<MinimalLayout title="Politique de confidentialité">
  <section class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="text-3xl font-semibold mb-4">
      Politique de Confidentialité de la Communauté CTO de Lyon
    </div>
    <div class="mb-4">
      Dernière mise à jour : <span class="font-semibold">Novembre 2024</span>
    </div>
    <div class="mx-10 px-10">
      <p class="mb-4">
        La Communauté CTO de Lyon attache une importance particulière au respect
        de la vie privée de ses membres et visiteurs. Cette politique de
        confidentialité décrit les pratiques de gestion des données de la
        communauté concernant la collecte, l'utilisation et la protection des
        informations personnelles dans le cadre de notre newsletter et des
        événements que nous organisons.
      </p>

      <div class="text-xl font-semibold mb-2">1. Données Collectées</div>
      <p class="mb-4">
        Le site de la Communauté CTO de Lyon ne collecte aucune donnée
        personnelle et n'utilise aucun cookie ou technologie de suivi.
      </p>
      <p class="mb-4">
        Cependant, nous collectons certaines données personnelles via des
        services tiers pour gérer notre newsletter et organiser nos événements :
      </p>
      <ul class="list-disc list-inside mb-4">
        <li>
          Newsletter : Les utilisateurs qui s’inscrivent volontairement à la
          newsletter via notre partenaire Brevo nous fournissent leur nom,
          prénom, adresse e-mail, et poste.
        </li>
        <li>
          Événements : Nous utilisons Eventbrite pour gérer les inscriptions et
          la logistique de nos événements. Les utilisateurs inscrits sur
          Eventbrite peuvent suivre notre communauté et s'inscrire à nos
          événements via cette plateforme.
        </li>
      </ul>

      <div class="text-xl font-semibold mb-2">
        2. Finalité de la Collecte des Données
      </div>
      <p class="mb-4">
        Les données recueillies sont utilisées uniquement pour les finalités
        suivantes :
      </p>
      <ul class="list-disc list-inside mb-4">
        <li>
          Gestion de la Newsletter : Les informations collectées dans Brevo
          permettent de communiquer sur les actualités et événements de la
          Communauté CTO de Lyon.
        </li>
        <li>
          Organisation des Événements : Les données recueillies par Eventbrite
          permettent de gérer les inscriptions aux événements et de tenir les
          participants informés des détails relatifs aux événements.
        </li>
      </ul>

      <div class="text-xl font-semibold mb-2">
        3. Partage des Données avec des Tiers
      </div>
      <p class="mb-4">
        Les données personnelles sont partagées uniquement avec des tiers
        nécessaires à l'activité de la communauté :
      </p>
      <ul class="list-disc list-inside mb-4">
        <li>
          Brevo pour la gestion de la newsletter (les utilisateurs s’inscrivent
          directement via notre formulaire intégré).
        </li>
        <li>
          Eventbrite pour l’organisation des événements (les utilisateurs
          inscrits sur Eventbrite rejoignent notre communauté via cette
          plateforme).
        </li>
        <li>
          Les membres organisateurs de la communauté ont accès au nom, prénom et
          e-mail des utilisateurs inscrits pour les besoins de gestion
          communautaire. Aucune autre divulgation ou partage de données avec des
          tiers n'est effectué.
        </li>
      </ul>

      <div class="text-xl font-semibold mb-2">
        4. Durée de Conservation des Données
      </div>
      <p class="mb-4">
        Les données des utilisateurs sont conservées pendant toute la durée de
        leur appartenance à la communauté, c'est-à-dire tant qu'ils restent
        inscrits à notre newsletter ou participent à nos événements.
      </p>

      <div class="text-xl font-semibold mb-2">5. Sécurité des Données</div>
      <p class="mb-4">
        Nous prenons des mesures de sécurité appropriées pour protéger les
        données personnelles, notamment en limitant l'accès aux informations
        personnelles aux seuls membres organisateurs identifiés.
      </p>

      <div class="text-xl font-semibold mb-2">6. Droits des Utilisateurs</div>
      <p class="mb-4">
        Conformément au Règlement Général sur la Protection des Données (RGPD),
        les utilisateurs disposent des droits suivants :
      </p>
      <ul class="list-disc list-inside mb-4">
        <li>
          Accès : Les utilisateurs peuvent demander à connaître les données
          personnelles les concernant.
        </li>
        <li>
          Modification : Les utilisateurs peuvent demander à modifier leurs
          informations.
        </li>
        <li>
          Suppression : Les utilisateurs peuvent demander la suppression de
          leurs données de notre système.
        </li>
      </ul>
      <p class="mb-4">
        Pour exercer ces droits, les utilisateurs peuvent contacter notre équipe
        à l'adresse suivante : contact@cto-de-lyon.fr. Ces droits s’appliquent
        uniquement aux données gérées dans Brevo, la communauté n’ayant pas
        accès aux comptes individuels des utilisateurs sur Eventbrite.
      </p>

      <div class="text-xl font-semibold mb-2">7. Hébergement</div>
      <p class="mb-4">
        Le site de la Communauté CTO de Lyon est un site statique hébergé sur
        Vercel. Aucune donnée personnelle n’est stockée directement sur ce site.
      </p>

      <div class="text-xl font-semibold mb-2">8. Contact</div>
      <p>
        Pour toute question ou demande relative à cette politique de
        confidentialité, vous pouvez nous contacter à : contact@cto-de-lyon.fr
      </p>
    </div>
  </section>
</MinimalLayout>
