---
import { Image } from "astro:assets";
import img1 from "../assets/about-us/1.png";
import img2 from "../assets/about-us/2.png";

interface Props {
  data:{
    title: string;
    content: string[];
  }
}
const { data } = Astro.props;
---
<section>
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light sm:text-lg">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold"
        set:html={data.title}
      />

      {
        data.content.map((data: unknown) => (
          <p class="mb-8 font-light sm:text-xl">{data}</p>
        ))
      }
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <Image class="w-full rounded-lg" src={img1} alt="office content 1" />
      <Image
        class="mt-4 w-full lg:mt-10 rounded-lg"
        src={img2}
        alt="office content 2"
      />
    </div>
  </div>
</section>
