---
const { data } = Astro.props;
---

<section id="events" class="" style="background-color: #212325;">
  

  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2
        class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        set:html={data.title}
      />
      <p
        class="font-light text-gray-500 sm:text-xl dark:text-gray-400"
        set:html={data.content}
      />
    </div>
    <iframe
    src="https://lu.ma/embed/calendar/cal-kZVcuAvB6h8seC2/events"
    class="w-full h-auto mb-4 min-h-[450px] rounded-lg"
    style="overflow: hidden; border: none;"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"></iframe>
  </div>
</section>
