
<section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-lg">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold">
        Un lieu d'échanges <u>Tech</u>, <u>Indépendant</u> et <u>Engagé</u>
      </h2>
      <p class="mb-8 font-light sm:text-xl">
        Bienvenue dans la communauté des CTO de Lyon ! Ici, nous rassemblons les
        dirigeants techniques, CTO, et autres profils tech de Lyon, engagés et
        passionnés, autour d'un objectif unique : partager, apprendre, et
        grandir ensemble. Notre communauté est agnostique, indépendante de tout
        groupe, entreprise ou influence extérieure. Nous sommes animés par la
        passion et l'envie de contribuer à un réseau fort de pairs, sans but
        lucratif.
      </p>
      <p class="mb-8 font-light sm:text-xl">
        Tous nos membres organisateurs sont bénévoles, et notre communauté
        fonctionne sans sponsors pour rester libre et fidèle à sa mission :
        offrir un espace de discussion et de soutien où la technique est reine,
        sans prospection ni intrusion extérieure. Chez nous, la parole est aux
        techs.
      </p>
    </div>
  </div>
</section>
