<section id="join-us" class="rounded-lg bg-gray-100 dark:bg-gray-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-md sm:text-center">
      <h2
        class="mb-4 text-3xl tracking-tight font-extrabold sm:text-4xl"
      >
        Envie de rejoindre une communauté engagées ?
      </h2>
      <p
        class="mx-auto mb-8 max-w-2xl font-light  md:mb-12 sm:text-xl "
      >
        Si vous êtes CTO, VP Engineering, ou en charge de la stratégie technique
        d’une entreprise lyonnaise, la communauté des CTO de Lyon est faite pour
        vous. Rejoindre notre réseau, c'est avoir accès à des ressources, des
        retours d'expérience et des conseils de pairs qui comprennent les enjeux
        uniques de nos métiers. C'est aussi s'engager dans un espace
        bienveillant et respectueux, conçu pour l'entraide et le partage, sans
        pression commerciale ni interférence extérieure.
      </p>
      <div class="items-center justify-center sm:flex sm:space-y-0 mb-5">
        <a
          href="https://c26d9167.sibforms.com/serve/MUIFAPgUD9FAfkc4JDaYrcZbkyKrW6GbFnompG_YTmE1vJKCdVp6NeNXylwurQqNu8_zTdsh1HrS4i4GMHZmS1LWb6cbR9lGtlWLiOomcgLxgka1yfmusQeyOgvDLozQFQ86ZXJb1Ay1Bciuki3I06rPQ8STJvLvA8dO5tppCHDl7OWiFpkRxhBxXUCcrbRqjk907gOpx3af23-C"
          target="_blank"
          class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center border border-gray-300 rounded-lg bg-blue-600 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
        >
          Rejoignez nous
        </a>
      </div>
      <p class="text-xs text-gray-500 dark:text-gray-300">
        Nous nous soucions de la protection de vos données. <br />
        <a
          href="/privacy-policy"
          class="font-medium text-primary-600 dark:text-primary-500 hover:underline"
          >Lire notre politique de confidentialité</a
        >.
      </p>
    </div>
  </div>
</section>
