---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html class="scroll-smooth" lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
  <script type="text/javascript" is:inline>
    (function (d, w, c) {
      w.BrevoConversationsID = "65d06b6dcede7a2bf61e1f6f";
      w[c] =
        w[c] ||
        function () {
          (w[c].q = w[c].q || []).push(arguments);
        };
      var s = d.createElement("script");
      s.async = true;
      s.src = "https://conversations-widget.brevo.com/brevo-conversations.js";
      if (d.head) d.head.appendChild(s);
    })(document, window, "BrevoConversations");
  </script>
  <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer
  ></script>
</html>
